@font-face {
    font-family: mainFont;
    src: url(assets/Prompt-Regular.ttf);
    font-weight: bolder;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: mainFont;
    font-size: large;
    height: 100%;
    background-color: rgb(36, 26, 26);
    text-align: justify;
    color: #e8e6e3;
}

.subbody {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.centeredText {
    text-align: center;
}

div#root {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 7rem;
}

nav.mainNav {
    z-index: 100;
    background-color: #422532;
    position: fixed;
    width: 100%;
    display: grid;
    min-height: 7rem;
    grid-template-columns: 6fr 1fr 6fr;
}

nav.subNav {
    background-color: #422532;
    width: 100%;
    display: grid;
    min-height: 4rem;
    grid-template-columns: repeat(4, 1fr);
}

div.subNav{
    width: 50%;
    margin: auto;
}

.navLogo {
    height: 6rem;
    width: auto;
    margin: auto;
    vertical-align: middle;
}

.navLogo:hover {
    height: 7rem
}

.mainNavLeft,
.mainNavCenter,
.mainNavRight {
    display: grid;
}

.mainNavLeft {
    grid-template-columns: repeat(5, 1fr) 1fr;
}

.mainNavRight {
    justify-content: end;
}

.mainNavButton {
    background-color: transparent;
    border: 0px;
    min-width: 8rem;
    font-family: mainFont;
    font-size: larger;
    color: #e8e6e3;

}


.mainNavButton:hover {
    color: antiquewhite;
    font-size: x-large;
    box-shadow: 0 0 0 transparent;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #422532;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p {
    margin: 1.5rem;
    display: inline-block;
}

h1 {
    margin-top: 3rem;
    text-align: center;
}

 h2 {
    text-align: center;
}

button {
    width: 100%;
    height: 100%;
    color: #e8e6e3;
    background-color: #642d45;
    border-radius: 5px;
    font-family: mainFont;
    font-size: large;
}

button:hover {
    box-shadow: 2px 2px 5px rgba(128, 0, 128, 0.556);
}

button.backButton {
    max-width: 6rem;
    height: 2.5rem;
    position: fixed;
    bottom: 10rem;
    right: 4rem;
}

a {
    text-decoration: none;
}

.invalid {
    background-color: rgb(254, 166, 185);
}

input:focus {
    outline: none;
}

.contentLandingPage {
    margin: auto;
    margin-top: 6rem;
    width: 60%;
    font-size: larger;

}

.contentCC {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 80%;
    font-size: larger;

}

.contentBlock {
    margin: auto;
    margin-top: 3rem;
    width: 60%;
    font-size: larger;

}

#reservationBlock{
    width: 50%;
}

#reservationSelect{
    margin-bottom: 3rem;
    width: 14rem;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#foodMultiselectContainer {
    margin: auto;
    width: 40%;
    margin-bottom: 3rem;
}



.card {
    border: solid 0.3rem #351d28;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}

.cardFood{
    display: grid;
    grid-template-rows: 1fr 2rem;
}

.card:hover {
    box-shadow: 1px 1px 15px rgba(128, 0, 128, 0.556);

}

#foodCardWrapper {
    display: grid;
    height: 100%;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 0.5rem;
}


.optionListContainer {
    background-color: rgb(36, 26, 26)
}
.optionContainer li:hover{
    background-color: #351d28;
}

.chip {
    background-color: #422532;
}

label {
    display: block;
}

form {
    box-shadow: 1px 1px 6rem rgba(101, 0, 101, 0.444);
    padding: 1rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    border-radius: 6rem;
    margin-top: 4rem;
}

.formGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: dotted 0.15rem #642d45;
    gap: 1rem;
    margin-top: 0.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
}


.formItem {}

input,
select {
    font-size: large;
    width: 95%;
}

.formButton {
    max-width: 8rem;
    height: 3rem;
    margin: auto;
    margin-top: 2rem;
    display: block;
}

div.formDone {
    box-shadow: 1px 1px 6rem rgba(101, 0, 101, 0.444);
    margin-top: 12rem;
    padding-top: 0.1rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    border-radius: 6rem;

}

table.formDone {
    margin: auto;

}

tr {
    width: 100%;
}

.formDone tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}


form#loginForm {
    margin-top: 6rem;
}

#loginForm {
    grid-template-columns: repeat(2, 1fr);
    border: 0px;
    text-align: center;
}

#loginForm input {
    width: 80%
}

.tableContainer{
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
}

.bigTable{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-spacing: 1rem 0.2rem;
}

.tableW100{
    width: 100%;
}

.descriptionField{
    width: 40%;
}

i{
    padding: 0.2rem;
}

.manageContent{
    border-top: solid 0.2rem #422532;
    padding-left: 3rem;
    padding-right: 3rem;
}
.subMenuBody {
    margin-top: 5rem;
}

.W40{
    width: 40%;
    margin:auto
}

.calendarTBody{
    text-align: justify;
    margin: auto;
    margin-top: 3rem;
}

img.logoLandingPage{
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 8rem;
}

.license{
    text-align: right;
}